/* css reset */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #151515;
    box-sizing: border-box;
}
/* header part */
.page-header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.aside-parent{
    display: flex;
    justify-content: space-around;
}
.left-side{
    display: flex;
    margin-bottom: 20px
}
.title{
    font-size: 70px;
    font-family: cursive;
}
/* card style */
.card{
    width: 300px;
    border: 1px solid gray;
    margin-right: 30px;
}
.card-img img{
    width: 100%;
}

.card-text{
    background-color:#0D0D0D;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.card-text p{
    margin: 15px 0;
}
/* button style */
.calc{
    width: 200px;
    padding: 10px 0;
    background-color: #015196;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
/* aside part  */
.sidebar-1{
    color: #fff;
    width: 300px;
    border: 1px solid gray;
    background-color: #0D0D0D;
}
.select-title{
    margin:20px 0 ;
    text-align: center;
}
ol{
    font-size: 20px;
    padding: 15px 30px;
}
ol li{
    margin-bottom: 20px;
}
.sidebar h2{
    text-align: center;
}
.sidebar-2{
    color: #fff;
    width: 300px;
    margin-top: 50px;
    padding: 30px 10px;
    border: 1px solid gray;
    background-color: #0D0D0D;
    box-sizing: border-box;
}
.sidebar-2 h2{
    text-align: center;
    margin-bottom: 25px;
}
.player-cost{
    display: flex;
    justify-content: space-between;
}
.sidebar-2 button{
    margin-left: 75px;
    margin-top: 20px;
}
.input{
    padding: 3px 0px;
    font-size: 16px;
}
.margin{
    margin-top: 20px;
}
/* footer */
footer{
    height: 60px;
    margin-top: 20px;
}
footer p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.amount-color{
    color: orangered;
}